.mainpage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 100%;
  min-height: 100%;
  gap: 10px;
}
.content {
  display: flex;
/*  flex: 7; */
/*  max-width: 1300px; */
  flex-flow: row nowrap;
  position: center;
  padding: 1em;
/*  background-color: yellow; */
  justify-content: center;
  gap: 20px;
}

.left {
  display: flex;
  width: 15%;
/*  flex: 1;*/
  flex-flow: column nowrap;
/*  background-color: lightyellow; */
  position: relative;
  left: 70px;
  z-index: 2;
}

.center {
  display: flex;
/*  width: 50%;*/
/*  flex: 3;*/
  flex-flow: column nowrap;
/*  background-color: lightblue; */
  position: relative;
  right: 70px;
  z-index: 1;
}

.right {
  display: flex;
  width: 15%;
/*  flex: 1;*/
  flex-flow: column nowrap;
/*  background-color: lightgreen; */
  position: relative;
  right: 70px;
  z-index: 1;
  gap: 10px;
}
