.mainpage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 100%;
  min-height: 100%;
  gap: 10px;
}
.content {
  display: flex;
  flex-flow: row nowrap;
  position: center;
  padding: 1em;
  justify-content: center;
  gap: 20px;
}

.left {
  display: flex;
  width: 15%;
  flex-flow: column nowrap;
  position: relative;
  left: 70px;
  z-index: 2;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  right: 70px;
  z-index: 1;
}

.right {
  display: flex;
  width: 15%;
  flex-flow: column nowrap;
  position: relative;
  right: 70px;
  z-index: 1;
  gap: 15px;
}
