.controlsBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 854px; 
    /* max-height: 60px; */
}

.icon {
    filter: drop-shadow(0 0 0.02em black);
}

.buttonGroup {
    align-items: center;
}